p{ 
color:blue; 
font-size: 22px;
} 

.listitem {
color:red;
font-size:20px;
}


.paragraph {
color:blue; 
font-size:2.5em;
}

#background {
background-color:#e6ffff;
}

#button  {
	height:60px;
	width:70px; 
	color:#99ceff;
	background-color:black;
	border-radius: 15px;
}


#banner { 
height:170px;
width:86%;
border:5px solid black;
background-color: #1460a8;
margin-bottom: 15px;
}



.wrap-trivia  {
	height:500px;
	width: 450px;
	border: 5px double yellow;
	padding: 50px;
}

.navitem {
	list-style-type:none;
	display:inline;
	margin-right:.3em;
	padding:2px 5px;
}

#navmenu  {
	text-align:center;
	background-color:blue;
	color:white;
}


a:link{
	color:blue;
}

a.visited{
	color:purple;
}

a:hover{
	color:yellow;
}

a:active{
	color:green; 
}





































